@use '../../styles/vars.scss';

.StickyFooter {
  background: vars.$black-color-transp;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: vars.$gold;
  font-family: vars.$texte-police;

  @media (min-width: 1020px) {
    font-size: 1.5rem;
  }

  .stickyFooter-items {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .reserver,
    .appeler {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 2rem;
      }

      p {
        margin-left: 0.5rem;
      }
    }
  }
}
