@use '../styles/vars.scss';

.Profil {
  padding-top: 6rem;

  h1 {
    text-align: center;
    font-family: vars.$titre-police;
    font-weight: vars.$titre-weight;
    color: vars.$gold;
    font-size: 2.5rem;
  }

  .infos-persos {
    margin: 0 auto;
    padding-top: 30px;
    width: 350px;

    font-family: vars.$texte-police;
    font-size: 1.3rem;
  }

  form {
    .info {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      position: relative;

      .explication {
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
        color: vars.$grey-color;
      }
    }

    .info:nth-child(5) {
      margin-top: -15px;
    }

    input {
      height: 45px;
      width: 100%;
      padding-left: 10px;
      font-size: 17px;
      border: 1px solid silver;
      margin-top: 0.4rem;

      &:focus {
        border-color: vars.$gold;
        border-bottom-width: 2px;
      }
    }

    .show-password-first {
      position: absolute;
      top: 55%;
      right: 20px;
      width: 16px;
      height: 16px;
    }

    .show-password-second {
      position: absolute;
      top: 17%;
      right: 20px;
      width: 16px;
      height: 16px;
    }

    .check-password {
      margin-top: -10px;
      font-size: 0.8rem;
      font-family: Arial, Helvetica, sans-serif;
      span {
        color: vars.$grey-color;
      }
    }

    button {
      display: block;
      margin: 45px auto;
      padding: 6px 12px;
      background-color: vars.$gold;
      color: vars.$black-color;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      font-family: vars.$texte-police;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        background-color: vars.$black-color;
        color: vars.$gold;
      }
    }
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid vars.$gold;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
