@use '../../styles/vars.scss';

.ListProducts {
  display: flex;
  justify-content: center;

  ul {
    width: 100%;
  }

  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid vars.$light-grey;
    }

    .product-description {
      font-size: 0.9rem;
      color: vars.$grey-color;
    }
    .product-left {
      width: 100%;
    }

    .product-header {
      display: flex;
      align-items: center;
      @media (max-width: 425px) {
        justify-content: space-between;
      }

      .product-name {
        margin: 10px 0;

        @media (min-width: 426px) {
          &::after {
            content: '-';
            margin: 0 1.5rem;
          }
        }
      }
    }

    .product-image {
      width: 110px;
      margin-left: 1rem;

      @media (max-width: 425px) {
        display: none;
      }
    }
  }
}
