@use '../../styles/vars.scss';

.CarouselReview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;

  .title {
    font-size: vars.$titre-size;
    font-family: vars.$titre-police;
    font-weight: bold;
    margin-bottom: 2rem;
    color: vars.$gold;
  }

  .wrapper {
    max-width: 1100px;
    width: 80%;
    position: relative;

    i {
      top: 50%;
      height: 50px;
      width: 50px;
      cursor: pointer;
      font-size: 1.25rem;
      position: absolute;
      text-align: center;
      line-height: 50px;
      background: #fff;
      color: vars.$gold;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
      transform: translateY(-50%);
      transition: transform 0.1s linear;

      &:active {
        transform: translateY(-50%) scale(0.85);
      }

      &:first-child {
        left: -24px;
        z-index: 1;
      }

      &:last-child {
        right: -24px;
      }
    }

    .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 3) - 12px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none;

      @media (max-width: 900px) {
        grid-auto-columns: calc((100% / 2) - 9px);
      }

      @media (max-width: 600px) {
        grid-auto-columns: 100%;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .no-transition {
        scroll-behavior: auto;
      }

      .dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;

        .card {
          cursor: grab;
          user-select: none;
        }
      }

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        height: 342px;
        list-style: none;
        cursor: pointer;
        flex-direction: column;
        gap: 0.8em;
        padding: 0 2rem;
        border: 2px solid vars.$gold;
        border-radius: 1rem;
        background-color: rgb(255, 255, 255);

        .comment {
          text-align: center;
        }

        .user-name {
          font-weight: 500;
          font-size: 1.56rem;
          font-family: vars.$texte-police;
        }

        .date {
          color: rgb(140, 139, 139);
        }
      }
    }
  }
}
