@use '../../styles/vars.scss';

.ListMenus {
  display: flex;
  flex-direction: column;
  align-items: center;
  .menu-list {
    width: 100%;
    text-align: center;
  }

  .menu-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin: 1rem 0;
      border-bottom: 1px solid vars.$light-grey;
      padding-bottom: 10px;
    }

    .menu-header {
      width: 100%;

      .menu-title {
        margin-bottom: 0.7rem;
        font-size: 1.7rem;
        font-family: vars.$titre-police;
      }

      .menu-price {
        font-size: 1.1rem;
        font-family: vars.$titre-police;
        font-weight: vars.$titre-weight;
      }
    }

    .category-list {
      width: 100%;
      margin-top: 0.5rem;

      .category-name {
        margin-top: 1rem;
        font-size: 1.1rem;
        text-decoration: underline;

        &::first-letter {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }

      .eats-list {
        margin: 0.5rem;

        .eats-item {
          display: flex;
          flex-direction: column;
          &:not(:last-child)::after {
            margin: 0.4rem 0 0.5rem;
            content: 'ou';
            text-decoration: underline;
            font-style: italic;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
