.HomePage {
  .Oresto-story {
    width: 80%;
    margin: 3% auto 6%;
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3%;
    }

    p {
      line-height: 1.3rem;
    }
  }
}
