@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$grey-color: #4a4a4a;
$light-grey: #ccc;
$gold-color: #9a6e32;
$gold-light-color: #f8f09e;
$gold: #cea800;
$black-color: #000;
$white-color: #fff;
$black-color-transp: rgba(0, 0, 0, 0.6);

$titre-police: 'Dancing Script', cursive;
$titre-size: 3rem;
$titre-weight: 700;
// ou :
// $titre-police: 'Caveat';
$texte-police: 'Oswald', sans-serif;
