$grey-color: #4a4a4a;
$gold-color: #9a6e32;
$gold-light-color: #f8f09e;
$black-color: #000;
$white-color: #fff;

$titre-police: 'Dancing Script';
// ou :
// $titre-police: 'Caveat';
$texte-police: 'Oswald', sans-serif;
