.MenuCardPage {
  .MenuCard {
    margin: 0 auto;
    padding: 0 1rem;
    width: 500px;
    .categories {
      display: flex;
      flex-direction: column;

      .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      .others-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          border-bottom: 1px solid black;
          width: 50%;
        }
      }
    }
  }
  .categories {
    display: flex;
    flex-direction: column;

    .menu-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .others-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        border-bottom: 1px solid black;
        width: 50%;
      }
    }
  }
}
