@use '../../styles/vars.scss';

.Contact {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;

    @media (min-width: 768px) {
      width: 500px;
    }
  }

  &-header {
    align-self: baseline;
    padding-bottom: 2rem;

    .Contact-title {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 700;
      display: inline;
      border-bottom: 4px solid vars.$gold;
      font-family: vars.$texte-police;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    .Contact-input-name,
    .Contact-input-email,
    .Contact-input-message {
      color: #000;
      //   background-color: ;
      padding: 0.5rem;
      border-radius: 0.25rem;
    }

    .Contact-input-email {
      margin: 1rem 0;
    }

    .Contact-input-message {
      resize: none;
    }

    .Contact-submit {
      margin: 2rem auto;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1.1rem;
      padding: 6px 12px;
      background-color: vars.$gold;
      color: vars.$black-color;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      font-family: vars.$texte-police;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        background-color: vars.$black-color;
        color: vars.$gold;
      }

      &:disabled:hover {
        background-color: vars.$gold;
        color: vars.$black-color;
        cursor: not-allowed;
      }
    }
  }
}
