$pink: #e83e8c;
$background-color: #fff;

.Navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
  color: black;
  background-color: $background-color;
  z-index: 2;

  .logo-oresto {
    margin-left: 2%;
    width: 60px;
    z-index: 10;
    cursor: pointer;

    @media (min-width: 768px) {
      position: fixed;
      margin-left: 1%;
    }
  }

  .title {
    color: black;
    z-index: 10;
    font-size: 2rem;
    font-weight: bold;
    margin-left: -20px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .title-hidden {
    display: none;
  }

  .active {
    // border-bottom: 2px solid #d69a34;
    text-decoration: underline #d69a34;
  }

  &-desktop {
    display: none;

    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Navbar-list {
      display: flex;

      &-item {
        font-size: 1.3rem;
        margin: 0 16px;
        cursor: pointer;
      }

      .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .chevron {
          cursor: pointer;
          margin-left: -8px;
          margin-right: 8px;
        }

        .dropdown-list-hidden {
          display: none;
        }

        .dropdown-list {
          position: absolute;
          top: 35px;
          right: -6px;
          width: 90px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          border: 1px solid #e1e1e1;
          box-shadow: 0 40px 40px rgb(0 0 0 / 6%);

          &::before {
            content: '';
            background: inherit;
            border-top: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
            position: absolute;
            top: -7px;
            right: 15px;
            width: 12px;
            height: 12px;
            rotate: -45deg;
          }

          li:hover {
            background-color: #f5f5f5;
          }

          li {
            padding: 8px;
          }
        }
      }
    }

    .login-social-desktop {
      display: flex;
      position: fixed;
      justify-content: space-between;
      gap: 1rem;
      right: 0;
      padding-right: 2.5%;

      @media (min-width: 768px) and (max-width: 950px) {
        flex-direction: column-reverse;
      }

      .btn-login {
        border-radius: 5px;
        font-size: 0.9rem;
        padding: 1.5% 3%;
      }

      .social-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
      }
    }
  }

  &-burger {
    z-index: 10;
    color: black;
    font-size: 1.5rem;
    margin-right: 2%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 25%;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;

    @media (min-width: 768px) {
      display: none;
    }

    &-hidden {
      display: none;
    }

    &-item {
      margin: 1.5rem 0;
      font-size: 2rem;
      text-align: center;
      display: block;
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .chevron {
        display: inline-block;
        font-size: 25px;
      }

      .dropdown-list-hidden {
        display: none;
      }

      .dropdown-list {
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        box-shadow: 0 40px 40px rgb(0 0 0 / 6%);

        &::before {
          content: '';
          background: inherit;
          border-top: 1px solid #e1e1e1;
          border-right: 1px solid #e1e1e1;
          position: absolute;
          top: 26px;
          right: 57px;
          width: 12px;
          height: 12px;
          rotate: -45deg;
        }

        li:hover {
          background-color: #f5f5f5;
        }

        li {
          padding: 8px;
        }
      }
    }

    .login-social-mobile {
      width: 80%;
      text-align: center;
      position: fixed;
      bottom: 0;
      padding-bottom: 2.5%;

      .btn-login {
        border-radius: 5px;
        font-size: 1.1rem;
        padding: 1.5% 3%;
      }

      .social-media {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        font-size: 1.5rem;
      }
    }
  }
}
