@use '../../styles/vars.scss';

// Mobile (en dessous de 768px)
.Footer {
  border-top: 1px solid rgba(148, 148, 148, 0.493);
  background: vars.$grey-color;
  color: vars.$white-color;
  font-family: vars.$texte-police;
  overflow-y: visible;

  .infos-pratiques {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact,
    .adresse,
    .horaires {
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        margin: 0;
      }

      h3 {
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
    }
  }

  .legales {
    margin-top: 2rem;
    font-size: 0.8rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-bottom: 0.5rem;

      li {
        list-style-type: none;
      }
    }
  }
}

// Desktop (768px et plus)
@media (min-width: 768px) {
  .Footer {
    .infos-pratiques {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .contact,
      .adresse,
      .horaires {
        align-items: center;

        h3 {
          margin-bottom: 0.5rem;
        }
      }
    }

    .legales {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
          list-style-type: none;
        }
      }
    }
  }
}
