@use '../../styles/vars.scss';

.ListDishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem 0;

  .category {
    width: 100%;
    margin: 1rem 0;
    &-name {
      text-align: center;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      font-family: vars.$titre-police;
      font-weight: bold;
      text-decoration: underline;

      &::first-letter {
        font-size: 1.6rem;
        text-transform: uppercase;
      }
    }
  }

  .dishe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-bottom: 10px;

    .dishe-left {
      width: 100%;
      .dishe-description {
        font-size: 0.9rem;
        color: vars.$grey-color;
      }

      .dishe-header {
        display: flex;
        align-items: center;
        @media (max-width: 425px) {
          justify-content: space-between;
        }

        .dishe-name {
          margin: 10px 0;

          @media (min-width: 426px) {
            &::after {
              content: '-';
              margin: 0 1.5rem;
            }
          }
        }
      }
    }

    .dishe-image {
      width: 110px;
      margin-left: 1rem;

      @media (max-width: 425px) {
        display: none;
      }
    }
  }
}
