@use '../styles/vars.scss';

.ErrorPage {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem 0;

  .error {
    display: flex;

    .number {
      font-size: 23rem;
      @media (max-width: 768px) {
        font-size: 10rem;
      }
      font-family: vars.$texte-police;
      animation: bounce 1s ease-in-out infinite;
      @keyframes bounce {
        0%,
        100% {
          transform: translateY(-15px);
        }
        50% {
          transform: translateY(15px);
        }
      }
    }

    img {
      @media (max-width: 768px) {
        width: 150px;
        height: 150px;
      }
      animation: spin 2s ease-in-out infinite;
      @keyframes spin {
        0%,
        100% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(-10deg);
        }
        75% {
          transform: rotate(20deg);
        }
      }
    }
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    font-family: vars.$titre-police;

    a {
      color: vars.$gold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
