// Importez les variables SCSS de React Calendar
@use '../../styles/vars.scss';
@import '../../../node_modules/react-calendar/dist/Calendar.css';

// Personnalisez les styles du calendrier

.ReservationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;

  h2 {
    margin-bottom: 3rem;
    color: vars.$gold;
    font-family: vars.$titre-police;
    font-size: vars.$titre-size;
    font-weight: vars.$titre-weight;
  }

  form {
    max-width: 550px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    .select-div {
      display: flex;
      gap: 0.5rem;
      width: 100%;
      select {
        width: 50%;
        height: 30px;
        text-align: center;
      }
    }
    .react-calendar {
      // Modifier les styles généraux du calendrier
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: #fff;
      color: #333;
      width: 100%;

      // Modifier le style du conteneur du calendrier
      &__tile {
        // Modifier les styles des tuiles du calendrier
        border: none;
        cursor: pointer;
        padding: 5px;

        // Modifier le style des tuiles actives
        &--active {
          background-color: #ccc;
          color: #fff;
        }

        // Modifier le style des tuiles désactivées
        &--disabled {
          background-color: #eee;
          color: #999;
          cursor: not-allowed;
        }
      }

      // Modifier le style de l'en-tête du calendrier
      &__navigation {
        background-color: #f2f2f2;
        padding: 10px;

        // Modifier le style des flèches de navigation
        &__arrow {
          color: #333;
          font-size: 20px;
        }

        // Modifier le style du mois et de l'année affichés
        &__label {
          font-weight: bold;
          font-size: 18px;
        }
      }

      // Modifier le style des jours de la semaine
      &__month-view {
        &__weekdays {
          background-color: #f2f2f2;
          padding: 5px;
          font-weight: bold;

          // Modifier le style d'un jour de la semaine spécifique
          &__weekday {
            color: #333;
            padding: 5px;
          }
        }
      }

      .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid vars.$gold;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: 0 auto;

        @-webkit-keyframes spin {
          0% {
            -webkit-transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
          }
        }
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .submit {
      margin: 1rem auto 2rem;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1.1rem;
      padding: 6px 12px;
      background-color: vars.$gold;
      color: vars.$black-color;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      font-family: vars.$texte-police;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        background-color: vars.$black-color;
        color: vars.$gold;
      }
    }
  }
}
